{% extends "bootstrap/base.html" %}
{%block title %}Flask_Home{% endblock %}
{%block body %}
{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%- endblock scripts %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    div.jumbotron {
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>
<div class="jumbotron">
    <div class="container" align="center">
        <h2 class="text-info" style="font-family:宋体;font-weight:bold;font-size:49px">输入你喜欢的一个网页地址</h2>
        <br>
        <div class="text-muted">Demo for Stored XSS👇</div>
        <br>
        <br>
        <form method=POST enctype=multipart/form-data action="{{ url_for('uploadurl') }}">
            <label>输入网站名称</label>
            <input type="text" name="web"><br>
            <label>输入网站地址</label>
            <input type="text" name="url"><br>
            <input type=submit onclick="alert('成功')" name="submit" value="提交">
        </form>

    </div>
</div>
{%- endblock body %}